test/basis_grad_mesh.m
test/basis_mesh.m
test/dsSpace_e4.m
test/dsSpaceOut.m
test/dsSpaceOut.txt
test/grad_pentagon.zip
test/mesh_e4.m
test/meshOut.m
test/meshOut.txt
test/solution_grad_mesh.m
test/solution_mesh.m
test/true_solution_grad_mesh.m
test/true_solution_mesh.m
test/u_vertices_mesh.m
test/u_vertices.m
test2/_basis_mesh.m
test2/dsSpace_e4.m
test2/dsSpaceOut.m
test2/mesh_e4.m
test2/meshOut.m
test2/u_vertices_mesh.m
test2/u_vertices.m
testingMeshes/BadQuad/Quad_121_144/Element.txt
testingMeshes/BadQuad/Quad_121_144/Mesh.jpg
testingMeshes/BadQuad/Quad_121_144/Node.txt
testingMeshes/BadQuad/Quad_169_196/Element.txt
testingMeshes/BadQuad/Quad_169_196/Mesh.jpg
testingMeshes/BadQuad/Quad_169_196/Node.txt
testingMeshes/BadQuad/Quad_225_256/Element.txt
testingMeshes/BadQuad/Quad_225_256/Mesh.jpg
testingMeshes/BadQuad/Quad_225_256/Node.txt
testingMeshes/BadQuad/Quad_25_36/Element.txt
testingMeshes/BadQuad/Quad_25_36/Mesh.jpg
testingMeshes/BadQuad/Quad_25_36/Node.txt
testingMeshes/BadQuad/Quad_289_324/Element.txt
testingMeshes/BadQuad/Quad_289_324/Mesh.jpg
testingMeshes/BadQuad/Quad_289_324/Node.txt
testingMeshes/BadQuad/Quad_361_400/Element.txt
testingMeshes/BadQuad/Quad_361_400/Mesh.jpg
testingMeshes/BadQuad/Quad_361_400/Node.txt
testingMeshes/BadQuad/Quad_441_484/Element.txt
testingMeshes/BadQuad/Quad_441_484/Mesh.jpg
testingMeshes/BadQuad/Quad_441_484/Node.txt
testingMeshes/BadQuad/Quad_49_64/Element.txt
testingMeshes/BadQuad/Quad_49_64/Mesh.jpg
testingMeshes/BadQuad/Quad_49_64/Node.txt
testingMeshes/BadQuad/Quad_81_100/Element.txt
testingMeshes/BadQuad/Quad_81_100/Mesh.jpg
testingMeshes/BadQuad/Quad_81_100/Node.txt
testingMeshes/BadQuad/Quad_9_16/Element.txt
testingMeshes/BadQuad/Quad_9_16/Mesh.jpg
testingMeshes/BadQuad/Quad_9_16/Node.txt
testingMeshes/Polymesher/._cell2str.m
testingMeshes/Polymesher/._dCircle.m
testingMeshes/Polymesher/._dDiff.m
testingMeshes/Polymesher/._dIntersect.m
testingMeshes/Polymesher/._dLine.m
testingMeshes/Polymesher/._dRectangle.m
testingMeshes/Polymesher/._dUnion.m
testingMeshes/Polymesher/._Element.txt
testingMeshes/Polymesher/._HornDomain.m
testingMeshes/Polymesher/._MbbDomain.m
testingMeshes/Polymesher/._MichellDomain.m
testingMeshes/Polymesher/._Node.txt
testingMeshes/Polymesher/._PolyMesher.m
testingMeshes/Polymesher/._sample_sq.m
testingMeshes/Polymesher/._sample_SSPM.m
testingMeshes/Polymesher/._sample.fig
testingMeshes/Polymesher/._sample.jpg
testingMeshes/Polymesher/._sample.m
testingMeshes/Polymesher/._sample.mat
testingMeshes/Polymesher/._SuspensionDomain.m
testingMeshes/Polymesher/._WrenchDomain.m
testingMeshes/Polymesher/cell2str.m
testingMeshes/Polymesher/dCircle.m
testingMeshes/Polymesher/dDiff.m
testingMeshes/Polymesher/dIntersect.m
testingMeshes/Polymesher/dLine.m
testingMeshes/Polymesher/dRectangle.m
testingMeshes/Polymesher/dUnion.m
testingMeshes/Polymesher/Element.txt
testingMeshes/Polymesher/HornDomain.m
testingMeshes/Polymesher/MbbDomain.m
testingMeshes/Polymesher/MichellDomain.m
testingMeshes/Polymesher/Node.txt
testingMeshes/Polymesher/PolyMesher.m
testingMeshes/Polymesher/sample_sq.m
testingMeshes/Polymesher/sample_SSPM.m
testingMeshes/Polymesher/sample.fig
testingMeshes/Polymesher/sample.jpg
testingMeshes/Polymesher/sample.m
testingMeshes/Polymesher/sample.mat
testingMeshes/Polymesher/SuspensionDomain.m
testingMeshes/Polymesher/WrenchDomain.m
testingMeshes/Polymesher/Polymesher/Element.txt
testingMeshes/Polymesher/Polymesher/Node.txt
testingMeshes/Polymesher/Polymesher_10_22/Element.txt
testingMeshes/Polymesher/Polymesher_10_22/Mesh.jpg
testingMeshes/Polymesher/Polymesher_10_22/Node.txt
testingMeshes/Polymesher/Polymesher_12_26/Element.txt
testingMeshes/Polymesher/Polymesher_12_26/Node.txt
testingMeshes/Polymesher/Polymesher_14_30/Element.txt
testingMeshes/Polymesher/Polymesher_14_30/Mesh.jpg
testingMeshes/Polymesher/Polymesher_14_30/Node.txt
testingMeshes/Polymesher/Polymesher_16_34/Element.txt
testingMeshes/Polymesher/Polymesher_16_34/Node.txt
testingMeshes/Polymesher/Polymesher_16_34_v2/Element.txt
testingMeshes/Polymesher/Polymesher_16_34_v2/Node.txt
testingMeshes/Polymesher/Polymesher_18_38/Element.txt
testingMeshes/Polymesher/Polymesher_18_38/Mesh.jpg
testingMeshes/Polymesher/Polymesher_18_38/Node.txt
testingMeshes/Polymesher/Polymesher_20_42/Element.txt
testingMeshes/Polymesher/Polymesher_20_42/Mesh.jpg
testingMeshes/Polymesher/Polymesher_20_42/Node.txt
testingMeshes/Polymesher/Polymesher_22_46/Element.txt
testingMeshes/Polymesher/Polymesher_22_46/Mesh.jpg
testingMeshes/Polymesher/Polymesher_22_46/Node.txt
testingMeshes/Polymesher/Polymesher_24_50/Element.txt
testingMeshes/Polymesher/Polymesher_24_50/Mesh.jpg
testingMeshes/Polymesher/Polymesher_24_50/Node.txt
testingMeshes/Polymesher/Polymesher_24_50_v2/Element.txt
testingMeshes/Polymesher/Polymesher_24_50_v2/Mesh_v2.jpg
testingMeshes/Polymesher/Polymesher_24_50_v2/Node.txt
testingMeshes/Polymesher/Polymesher_24_50_v3/Element.txt
testingMeshes/Polymesher/Polymesher_24_50_v3/Mesh.jpg
testingMeshes/Polymesher/Polymesher_24_50_v3/Node.txt
testingMeshes/Polymesher/Polymesher_24_50_v4/Element.txt
testingMeshes/Polymesher/Polymesher_24_50_v4/Mesh.jpg
testingMeshes/Polymesher/Polymesher_24_50_v4/Node.txt
testingMeshes/Polymesher/Polymesher_36_74/Element.txt
testingMeshes/Polymesher/Polymesher_36_74/Mesh.jpg
testingMeshes/Polymesher/Polymesher_36_74/Node.txt
testingMeshes/Polymesher/Polymesher_6_14/Element.txt
testingMeshes/Polymesher/Polymesher_6_14/Mesh.jpg
testingMeshes/Polymesher/Polymesher_6_14/Node.txt
testingMeshes/Polymesher/Polymesher_8_17/Element.txt
testingMeshes/Polymesher/Polymesher_8_17/Node.txt
testingMeshes/Polymesher/mesh100/._sample.fig
testingMeshes/Polymesher/mesh100/._sample.mat
testingMeshes/Polymesher/mesh100/Element.txt
testingMeshes/Polymesher/mesh100/Load.txt
testingMeshes/Polymesher/mesh100/Node.txt
testingMeshes/Polymesher/mesh100/P.txt
testingMeshes/Polymesher/mesh100/sample.fig
testingMeshes/Polymesher/mesh100/sample.mat
testingMeshes/Polymesher/mesh100/Supp.txt
testingMeshes/Quad/Quad_1089_1156/Element.txt
testingMeshes/Quad/Quad_1089_1156/Mesh.jpg
testingMeshes/Quad/Quad_1089_1156/Node.txt
testingMeshes/Quad/Quad_121_144/Element.txt
testingMeshes/Quad/Quad_121_144/Mesh.jpg
testingMeshes/Quad/Quad_121_144/Node.txt
testingMeshes/Quad/Quad_1225_1296/Element.txt
testingMeshes/Quad/Quad_1225_1296/Mesh.jpg
testingMeshes/Quad/Quad_1225_1296/Node.txt
testingMeshes/Quad/Quad_169_196/Element.txt
testingMeshes/Quad/Quad_169_196/Mesh.jpg
testingMeshes/Quad/Quad_169_196/Node.txt
testingMeshes/Quad/Quad_225_256/Element.txt
testingMeshes/Quad/Quad_225_256/Mesh.jpg
testingMeshes/Quad/Quad_225_256/Node.txt
testingMeshes/Quad/Quad_25_36/Element.txt
testingMeshes/Quad/Quad_25_36/Mesh.jpg
testingMeshes/Quad/Quad_25_36/Node.txt
testingMeshes/Quad/Quad_289_324/Element.txt
testingMeshes/Quad/Quad_289_324/Mesh.jpg
testingMeshes/Quad/Quad_289_324/Node.txt
testingMeshes/Quad/Quad_361_400/Element.txt
testingMeshes/Quad/Quad_361_400/Mesh.jpg
testingMeshes/Quad/Quad_361_400/Node.txt
testingMeshes/Quad/Quad_441_484/Element.txt
testingMeshes/Quad/Quad_441_484/Mesh.jpg
testingMeshes/Quad/Quad_441_484/Node.txt
testingMeshes/Quad/Quad_49_64/Element.txt
testingMeshes/Quad/Quad_49_64/Mesh.jpg
testingMeshes/Quad/Quad_49_64/Node.txt
testingMeshes/Quad/Quad_529_576/Element.txt
testingMeshes/Quad/Quad_529_576/Mesh.jpg
testingMeshes/Quad/Quad_529_576/Node.txt
testingMeshes/Quad/Quad_625_676/Element.txt
testingMeshes/Quad/Quad_625_676/Mesh.jpg
testingMeshes/Quad/Quad_625_676/Node.txt
testingMeshes/Quad/Quad_729_784/Element.txt
testingMeshes/Quad/Quad_729_784/Mesh.jpg
testingMeshes/Quad/Quad_729_784/Node.txt
testingMeshes/Quad/Quad_81_100/Element.txt
testingMeshes/Quad/Quad_81_100/Mesh.jpg
testingMeshes/Quad/Quad_81_100/Node.txt
testingMeshes/Quad/Quad_841_900/Element.txt
testingMeshes/Quad/Quad_841_900/Mesh.jpg
testingMeshes/Quad/Quad_841_900/Node.txt
testingMeshes/Quad/Quad_961_1024/Element.txt
testingMeshes/Quad/Quad_961_1024/Mesh.jpg
testingMeshes/Quad/Quad_961_1024/Node.txt
testingMeshes/Quad/Quad_9_16/Element.txt
testingMeshes/Quad/Quad_9_16/Mesh.jpg
testingMeshes/Quad/Quad_9_16/Node.txt
testingMeshes/Square/Square_100_121/Element.txt
testingMeshes/Square/Square_100_121/Node.txt
testingMeshes/Square/Square_1024_1089/Element.txt
testingMeshes/Square/Square_1024_1089/Node.txt
testingMeshes/Square/Square_1089_1156/Element.txt
testingMeshes/Square/Square_1089_1156/Node.txt
testingMeshes/Square/Square_121_144/Element.txt
testingMeshes/Square/Square_121_144/Node.txt
testingMeshes/Square/Square_144_169/Element.txt
testingMeshes/Square/Square_144_169/Node.txt
testingMeshes/Square/Square_169_196/Element.txt
testingMeshes/Square/Square_169_196/Node.txt
testingMeshes/Square/Square_16_25/Element.txt
testingMeshes/Square/Square_16_25/Node.txt
testingMeshes/Square/Square_256_289/Element.txt
testingMeshes/Square/Square_256_289/Node.txt
testingMeshes/Square/Square_25_36/Element.txt
testingMeshes/Square/Square_25_36/Node.txt
testingMeshes/Square/Square_289_324/Element.txt
testingMeshes/Square/Square_289_324/Node.txt
testingMeshes/Square/Square_36_49/Element.txt
testingMeshes/Square/Square_36_49/Node.txt
testingMeshes/Square/Square_400_441/Element.txt
testingMeshes/Square/Square_400_441/Node.txt
testingMeshes/Square/Square_441_484/Element.txt
testingMeshes/Square/Square_441_484/Node.txt
testingMeshes/Square/Square_49_64/Element.txt
testingMeshes/Square/Square_49_64/Node.txt
testingMeshes/Square/Square_4_9/Element.txt
testingMeshes/Square/Square_4_9/Node.txt
testingMeshes/Square/Square_576_625/Element.txt
testingMeshes/Square/Square_576_625/Node.txt
testingMeshes/Square/Square_625_676/Element.txt
testingMeshes/Square/Square_625_676/Node.txt
testingMeshes/Square/Square_64_81/Element.txt
testingMeshes/Square/Square_64_81/Node.txt
testingMeshes/Square/Square_784_841/Element.txt
testingMeshes/Square/Square_784_841/Node.txt
testingMeshes/Square/Square_841_900/Element.txt
testingMeshes/Square/Square_841_900/Node.txt
testingMeshes/Square/Square_9_16/Element.txt
testingMeshes/Square/Square_9_16/Node.txt
testingMeshes/Tri/Tri_1058_576/Element.txt
testingMeshes/Tri/Tri_1058_576/Mesh.jpg
testingMeshes/Tri/Tri_1058_576/Node.txt
testingMeshes/Tri/Tri_1250_676/Element.txt
testingMeshes/Tri/Tri_1250_676/Mesh.jpg
testingMeshes/Tri/Tri_1250_676/Node.txt
testingMeshes/Tri/Tri_1458_784/Element.txt
testingMeshes/Tri/Tri_1458_784/Mesh.jpg
testingMeshes/Tri/Tri_1458_784/Node.txt
testingMeshes/Tri/Tri_162_100/Element.txt
testingMeshes/Tri/Tri_162_100/Mesh.jpg
testingMeshes/Tri/Tri_162_100/Node.txt
testingMeshes/Tri/Tri_18_16/Element.txt
testingMeshes/Tri/Tri_18_16/Mesh.jpg
testingMeshes/Tri/Tri_18_16/Node.txt
testingMeshes/Tri/Tri_1922_1024/Element.txt
testingMeshes/Tri/Tri_1922_1024/Mesh.jpg
testingMeshes/Tri/Tri_1922_1024/Node.txt
testingMeshes/Tri/Tri_2450_1296/Element.txt
testingMeshes/Tri/Tri_2450_1296/Mesh.jpg
testingMeshes/Tri/Tri_2450_1296/Node.txt
testingMeshes/Tri/Tri_450_256/Element.txt
testingMeshes/Tri/Tri_450_256/Mesh.jpg
testingMeshes/Tri/Tri_450_256/Node.txt
testingMeshes/Tri/Tri_50_36/Element.txt
testingMeshes/Tri/Tri_50_36/Mesh.jpg
testingMeshes/Tri/Tri_50_36/Node.txt
testingMeshes/Tri/Tri_722_400/Element.txt
testingMeshes/Tri/Tri_722_400/Mesh.jpg
testingMeshes/Tri/Tri_722_400/Node.txt
testingMeshes/Tri/Tri_882_484/Element.txt
testingMeshes/Tri/Tri_882_484/Mesh.jpg
testingMeshes/Tri/Tri_882_484/Node.txt
testingMeshes/Tri/Tri_98_64/Element.txt
testingMeshes/Tri/Tri_98_64/Mesh.jpg
testingMeshes/Tri/Tri_98_64/Node.txt
._Polymesher
._parameterData.cpp
._infile
._fcns.h
._fcns.cpp
._ellipticPDE.cpp
._directSerendipityFE.cpp
._directSerendipity.h
._directSerendipity.cpp
test/matrix.m
test/matrix.txt
test/rhs.txt
test/matrhs.asv
test/matrhs.m
problem.txt
Mesh/mesh_common.a
directpoly.common
directpoly_common.a
directpoly.common
Mesh/mesh_common.a
